# User Guide ğŸ“œ
coredotfinanceì˜ ê¸°ëŠ¥ë“¤ì„ ì‚¬ìš©í•´ë³´ì

## KrxReader

KrxReaderëŠ” [í•œêµ­ ì¦ê¶Œ ê±°ë˜ì†Œ](https://data.krx.co.kr)ì—ì„œ ë°ì´í„°ë¥¼ ìš”ì²­í•´ì„œ ë°›ì•„ì˜¤ëŠ” ê¸°ëŠ¥ì„ ìˆ˜í–‰í•œë‹¤. <br>

ìœ„ ê¸°ëŠ¥ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ë¨¼ì € ì¸ìŠ¤í„´ìŠ¤ë¥¼ ë§Œë“ ë‹¤. <br>

In [2]:
from coredotfinance.data import KrxReader
krx = KrxReader()

### read()
ì›í•˜ëŠ” ì¢…ëª©ì˜ ì¦ê¶Œ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ”ë° ì‚¬ìš©í•œë‹¤. <br>

read(self, symbol, *, start=None, end=None, kind="stock", api=False, **kwargs)

í•´ë‹¹ ì£¼ì‹ ê°€ê²© ë°ì´í„°ë¥¼ ì‹œì‘ì¼(start) ë¶€í„° ì¢…ë£Œì¼(end) ê¹Œì§€ ì½ì–´ì˜¨ë‹¤.

-    symbol : str

            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ëª©ì½”ë“œ.
            í˜•íƒœëŠ” ì¢…ëª©ê³¼ ì¢…ë¥˜ë§ˆë‹¤ ë‹¤ë¥´ë‹¤.
            ì˜ˆ) ì‚¼ì„±ì „ì : '005930', ARIRANG 200 : '152100'
-    start : str

            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì‹œì‘ì¼.
            í˜•íƒœëŠ” YYYY-MM-DDê°€ ë˜ì–´ì•¼ í•œë‹¤. 
            ì˜ˆ) 2021-06-01
-    end : str

            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ë£Œì¼.
            í˜•íƒœëŠ” YYYY-MM-DDê°€ ë˜ì–´ì•¼ í•œë‹¤.
            ì˜ˆ) 2021-06-01
-    kind : str, default "stock"


            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ë¥˜.

             'stock' : ì£¼ì‹
             'per' : PER/EPS/ë°°ë‹¹ê¸ˆ ë“±
             'index': ì§€ìˆ˜
             'other_index' : ê¸°íƒ€ ì§€ìˆ˜         
             'etf': ETF
             'etn': ETN
             'elw': ELW
            
-    kwargs

     - division : str
             
                ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì„¸ë¶€ êµ¬ë¶„
                other_index : ['ì„ ë¬¼ì§€ìˆ˜', 'ì˜µì…˜ì§€ìˆ˜', 'ì „ëµì§€ìˆ˜', 'ìƒí’ˆì§€ìˆ˜']
     - reverse : bool, default false
             
                dataframeì„ ê±°ê¾¸ë¡œ ì •ë ¬í•˜ê¸°
     - kor : bool, default false
             
                columnsë¥¼ í•œê¸€ë¡œ ë°›ì•„ì˜¤ê¸°
     - adjust : bool, default false
             
                ìˆ˜ì •ì£¼ê°€ ì ìš©í•˜ê¸°

#### ì£¼ì‹ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ì‚¼ì„±ì „ìì˜ ì¢…ëª©ì½”ë“œ (symbol)ì€ `005930` ì´ë‹¤

In [3]:
dataframe = krx.read('005930', start='2021-06-16', end='2021-06-22')
dataframe

ì‚¼ì„±ì „ì

,close,change,change_ratio,open,high,low,volume,trading_value,market_cap,shares_outstanding
2021-06-22,80000,100,0.13,80200,80300,79900,11773365,942656966106,477582604000000,5969782550
2021-06-21,79900,-600,-0.75,79700,80000,79600,16063340,1282081340900,476985625745000,5969782550
2021-06-18,80500,-400,-0.49,81100,81100,80500,14916721,1202369230300,480567495275000,5969782550
2021-06-17,80900,-900,-1.10,81100,81300,80700,14007385,1132293020100,482955408295000,5969782550
2021-06-16,81800,900,1.11,81500,81900,81100,14999855,1223108169181,488328212590000,5969782550

#### ì§€ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ì§€ìˆ˜ ë°ì´í„°ì—ëŠ” ì¢…ëª©ì½”ë“œ(symbol)ì´ ì—†ë‹¤

In [6]:
dataframe = krx.read('ì½”ìŠ¤í”¼', start='2021-06-16', end='2021-06-22', kind='index')
dataframe

ì½”ìŠ¤í”¼

,close,change,change_ratio,open,high,low,volume,trading_value,market_cap
2021-06-22,3263.88,23.09,0.71,3245.79,3267.63,3245.79,1666696733,15512033241198,2283310826631788
2021-06-21,3240.79,-27.14,-0.83,3264.18,3264.18,3225.56,1508634470,17291259635405,2266650210510417
2021-06-18,3267.93,2.97,0.09,3265.68,3275.76,3262.58,1627658120,17492731865668,2285587401970588
2021-06-17,3264.96,-13.72,-0.42,3276.20,3276.20,3251.32,1848671013,14672132506589,2283628537465567
2021-06-16,3278.68,20.05,0.62,3259.06,3281.96,3256.68,2345810978,16297981235711,2293095236719969

#### íŒŒìƒ ë° ê¸°íƒ€ ì§€ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ì§€ìˆ˜ ë°ì´í„°ì—ëŠ” ì¢…ëª©ì½”ë“œ(symbol)ì´ ì—†ë‹¤

In [26]:
dataframe = krx.read('ë¯¸êµ­ë‹¬ëŸ¬ì„ ë¬¼ì§€ìˆ˜', start='2021-06-16', end='2021-06-22', kind='other_index', division='ì„ ë¬¼ì§€ìˆ˜')
dataframe

ë¯¸êµ­ë‹¬ëŸ¬ì„ ë¬¼ì§€ìˆ˜

              close  change  change_ratio     open     high      low
2021-06-22  1188.42    1.57         -0.13  1187.16  1189.47  1187.06
2021-06-21  1189.99    1.68          0.14  1190.94  1195.03  1189.15
2021-06-18  1188.31    1.25          0.11  1189.29  1189.78  1187.16
2021-06-17  1187.06   14.59          1.24  1186.99  1187.37  1183.63
2021-06-16  1172.47    0.73         -0.06  1173.83  1174.56  1172.05

####  EPS/ PER/ BPS/ PBR/ ì£¼ë‹¹ë°°ë‹¹ê¸ˆ/ ë°°ë‹¹ìˆ˜ìµë¥  ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° 
ì‚¼ì„±ì „ìì˜ ì¢…ëª©ì½”ë“œ (symbol)ì€ `005930` ì´ë‹¤

In [27]:
dataframe = krx.read('005930', start='2021-06-16', end='2021-06-22', kind='per')
dataframe

ì‚¼ì„±ì „ì

,close,change,change_ratio,EPS,PER,BPS,PBR,dividend,dividend rate
2021-06-22,80000,100,0.13,3841,20.83,39406,2.03,2994,3.74
2021-06-21,79900,-600,-0.75,3841,20.80,39406,2.03,2994,3.75
2021-06-18,80500,-400,-0.49,3841,20.96,39406,2.04,2994,3.72
2021-06-17,80900,-900,-1.10,3841,21.06,39406,2.05,2994,3.70
2021-06-16,81800,900,1.11,3841,21.30,39406,2.08,2994,3.66

#### ETF ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ARIRANG êµ­ì±„ì„ ë¬¼10ë…„ì˜ ì¢…ëª©ì½”ë“œ(symbol)ì€ `289670`ì´ë‹¤

In [16]:
dataframe = krx.read('289670', start='2021-06-16', end='2021-06-22', kind='etf')
dataframe

ARIRANG êµ­ì±„ì„ ë¬¼10ë…„

            close change change_ratio       NAV   open   high    low volume  \

2021-06-22  56360    280        -0.49  56396.38  56405  56405  56360      5
2021-06-21  56640    240         0.43  56542.79  56605  56660  56580     52
2021-06-18  56400    170         0.30  56424.61  56295  56415  56295     16
2021-06-17  56230     25        -0.04  56202.78  56230  56230  56230      1
2021-06-16  56255     15        -0.03  56264.89  56235  56255  56170     15

           trading_value  market_cap  Net Assets shares_outstanding  \

2021-06-22        281910  6312320000  6316394687             112000
2021-06-21       2945455  6343680000  6332792091             112000
2021-06-18        902300  6316800000  6319556312             112000
2021-06-17         56230  6297760000  6294711865             112000
2021-06-16        843215  6300560000  6301667788             112000

           Fundamental_index
                  index_name    close change change_ratio
2021-06-22         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1340.56   3.60        -0.27
2021-06-21         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1344.16   2.86         0.21
2021-06-18         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1341.30   5.10         0.38
2021-06-17         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1336.20   1.49        -0.11
2021-06-16         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1337.69   1.49         0.11

#### ETN ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ë©”ë¦¬ì¸  ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ ETNì˜ ì¢…ëª©ì½”ë“œ(symbol)ì€ `610002`ì´ë‹¤

In [23]:
dataframe = krx.read('610002', start='2021-06-16', end='2021-06-22', kind='etn')
dataframe

ë©”ë¦¬ì¸  ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ ETN

           close change change_ratio index_value  open  high   low volume  \

2021-06-22  9830     10         0.10     9848.49  9830  9830  9830      2
2021-06-21  9820    -10        -0.10     9809.86     0     0     0      0
2021-06-18  9830      0         0.00     9817.46     0     0     0      0
2021-06-17  9830    -50        -0.51     9849.22  9885  9885  9830      3

           trading_value   market_cap total_index_value shares_outstanding  \

2021-06-22         19660  19660000000       19696980000            2000000
2021-06-21             0  19640000000       19619720000            2000000
2021-06-18             0  19660000000       19634920000            2000000
2021-06-17         29595  19660000000       19698440000            2000000

                       Fundamental_index
                              index_name   close change change_ratio
2021-06-22  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.59   0.52         0.39
2021-06-21  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.07   0.10        -0.08
2021-06-18  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.17   0.42        -0.32
2021-06-17  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.59   0.00         0.00

#### ELW ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
KBG194ì‚¼ì„±ì „ìì½œì˜ ì¢…ëª©ì½”ë“œ(symbol)ëŠ” `58G194`ì´ë‹¤

In [25]:
dataframe = krx.read('58G194', start='2021-06-16', end='2021-06-22', kind='elw')
dataframe

KBG194ì‚¼ì„±ì „ìì½œ

           close change open high low volume trading_value market_cap  \

2021-06-22    25      0    0    0   0      0             0  325000000
2021-06-21    25      0    0    0   0      0             0  325000000
2021-06-18    25      0    0    0   0      0             0  325000000
2021-06-17    25      0   25   25  25  39970        999250  325000000
2021-06-16    25      0   25   25  25     10           250  325000000

           shares_outstanding  ê¸°ì´ˆìì‚°
                                ìì‚°ëª…  close change change_ratio
2021-06-22           13000000  ì‚¼ì„±ì „ì  80000    100         0.13
2021-06-21           13000000  ì‚¼ì„±ì „ì  79900   -600        -0.75
2021-06-18           13000000  ì‚¼ì„±ì „ì  80500   -400        -0.49
2021-06-17           13000000  ì‚¼ì„±ì „ì  80900   -900        -1.10
2021-06-16           13000000  ì‚¼ì„±ì „ì  81800    900         1.11

### read_date()
ì›í•˜ëŠ” ë‚ ì§œì˜ ì¦ê¶Œ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ”ë° ì‚¬ìš©í•œë‹¤.

read_date(self, date=None, *, kind="stock", api=False, **kwargs)

-    date : str

            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¡°íšŒì¼.
            í˜•íƒœëŠ” YYYY-MM-DDê°€ ë˜ì–´ì•¼ í•œë‹¤.
            ì˜ˆ) 2021-06-01
            
-    kind : str, default "stock"


            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ë¥˜.

             'stock' : ì£¼ì‹
             'per' : PER/EPS/ë°°ë‹¹ê¸ˆ ë“±
             'index': ì§€ìˆ˜
             'other_index' : ê¸°íƒ€ ì§€ìˆ˜         
             'etf': ETF
             'etn': ETN
             'elw': ELW
        
-    kwargs

     - division : str
    
            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì„¸ë¶€ êµ¬ë¶„
            other_index : ['ì„ ë¬¼ì§€ìˆ˜', 'ì˜µì…˜ì§€ìˆ˜', 'ì „ëµì§€ìˆ˜', 'ìƒí’ˆì§€ìˆ˜']
     - reverse : bool, default false
    
            dataframeì„ ê±°ê¾¸ë¡œ ì •ë ¬í•˜ê¸°
     - kor : bool, default false
    
           columnsë¥¼ í•œê¸€ë¡œ ë°›ì•„ì˜¤ê¸°
     - adjust : bool, default false
    
            ìˆ˜ì •ì£¼ê°€ ì ìš©í•˜ê¸°

#### ì£¼ì‹ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [29]:
dataframe = krx.read_date('2021-09-10')
dataframe.head()

,symbol,name,market,division,close,change,change_ratio,open,high,low,volume,trading_value,market_cap,shares_outstanding
0,060310,3S,KOSDAQ,ì¤‘ê²¬ê¸°ì—…ë¶€,3835,35,0.92,3830,3850,3750,188427,715962040,177451252355,46271513
1,095570,AJë„¤íŠ¸ì›ìŠ¤,KOSPI,,5960,40,0.68,5920,5990,5800,77967,459358490,279060878200,46822295
2,006840,AKí™€ë”©ìŠ¤,KOSPI,,27150,50,0.18,27000,27450,26700,7014,189601200,359671281150,13247561
3,054620,APSí™€ë”©ìŠ¤,KOSDAQ,ì¤‘ê²¬ê¸°ì—…ë¶€,18400,150,0.82,18300,18800,17800,75897,1391939400,375253666400,20394221
4,265520,APì‹œìŠ¤í…œ,KOSDAQ,ìš°ëŸ‰ê¸°ì—…ë¶€,27850,350,1.27,27500,27850,27350,53001,1462484300,403274321950,14480227

#### ì§€ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [30]:
dataframe = krx.read_date('2021-09-10', kind='index')
dataframe.head()

,index_name,close,change,change_ratio,open,high,low,volume,trading_value,market_cap
0,KRX 300,1870.64,9.01,0.48,1864.78,1872.72,1855.26,118232737,8233295919365,2128676796369280
1,KTOP 30,11319.31,102.87,0.92,11226.44,11332.97,11217.21,23301090,3008338389270,1145507857948260
2,KRX 100,6442.70,31.92,0.50,6420.20,6449.79,6391.13,62360107,6214030715800,1798580795596870
3,KRX Mid 200,1930.84,12.90,0.67,1925.18,1931.80,1909.72,85871574,1323858406565,108265127111041
4,KRX ìë™ì°¨,2266.20,-34.64,-1.51,2297.24,2308.37,2248.77,10152546,473076259535,132932143005440

#### íŒŒìƒ ë° ê¸°íƒ€ ì§€ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [31]:
dataframe = krx.read_date('2021-09-10', kind='other_index', division='ì„ ë¬¼ì§€ìˆ˜')
dataframe.head()

     index_name    close  change  change_ratio     open     high      low
0      ë¯¸êµ­ë‹¬ëŸ¬ì„ ë¬¼ì§€ìˆ˜  1223.63   -1.57         -0.13  1227.08  1230.33  1223.31
1         ì—”ì„ ë¬¼ì§€ìˆ˜   617.82   -0.11         -0.02   617.93   621.25   617.82
2        ìœ ë¡œì„ ë¬¼ì§€ìˆ˜   819.95   -0.06         -0.01   820.01   822.27   819.95
3  ë¯¸êµ­ë‹¬ëŸ¬ì„ ë¬¼ TR ì§€ìˆ˜  1329.93   -1.68         -0.13  1333.68  1337.21  1329.58
4  ì½”ìŠ¤í”¼ 200 ì„ ë¬¼ì§€ìˆ˜  2055.17   15.31          0.75  2047.14  2056.42  2038.86

#### EPS/ PER/ BPS/ PBR/ ì£¼ë‹¹ë°°ë‹¹ê¸ˆ/ ë°°ë‹¹ìˆ˜ìµë¥  ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [32]:
dataframe = krx.read_date('2021-09-10', kind='per')
dataframe.head()

,symbol,name,close,change,change_ratio,EPS,PER,BPS,PBR,dividend,dividend rate
0,060310,3S,3840,40,1.05,16,240.00,792,4.85,0,0.00
1,095570,AJë„¤íŠ¸ì›ìŠ¤,5950,30,0.51,0,0.00,6089,0.98,210,3.53
2,006840,AKí™€ë”©ìŠ¤,27150,50,0.18,0,0.00,50471,0.54,400,1.47
3,054620,APSí™€ë”©ìŠ¤,18400,150,0.82,0,0.00,8135,2.26,0,0.00
4,265520,APì‹œìŠ¤í…œ,27850,350,1.27,1736,16.04,9041,3.08,120,0.43

#### ETF ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [77]:
dataframe = krx.read_date('2021-09-10', kind='etf')
dataframe.head()

   symbol                name  close change change_ratio       NAV   open  \

0  152100         ARIRANG 200  41495    195         0.47  41511.30  41500
1  295820     ARIRANG 200ë™ì¼ê°€ì¤‘  12015     95         0.80  12016.19  12015
2  253150   ARIRANG 200ì„ ë¬¼ë ˆë²„ë¦¬ì§€  46025    340         0.74  46115.20  46010
3  253160  ARIRANG 200ì„ ë¬¼ì¸ë²„ìŠ¤2X   4205    -30        -0.71   4203.03   4240
4  395750   ARIRANG ESGê°€ì¹˜ì£¼ì•¡í‹°ë¸Œ   9700     80         0.83   9703.37   9690

    high    low volume trading_value    market_cap Net Assets  \

0  41610  41240  34308    1423728210  767657500000          0
1  12025  11905     19        227635    1201500000          0
2  46025  45495    172       7913615   13807500000          0
3   4265   4190  44357     187325145   14717500000          0
4   9715   9620    130       1260130   88755000000          0

  shares_outstanding     Fundamental_index
                                index_name    close change change_ratio
0           18500000               ì½”ìŠ¤í”¼ 200   408.83   1.55         0.38
1             100000        ì½”ìŠ¤í”¼ 200 ë™ì¼ê°€ì¤‘ì§€ìˆ˜  2620.36  20.43         0.79
2             300000          ì½”ìŠ¤í”¼ 200 ì„ ë¬¼ì§€ìˆ˜  2051.90  12.04         0.59
3            3500000          ì½”ìŠ¤í”¼ 200 ì„ ë¬¼ì§€ìˆ˜  2051.40  11.54         0.57
4            9150000  FnGuide í•œí™” ESG ê°€ì¹˜ ì§€ìˆ˜  1511.04   6.17         0.41

#### ETN ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [34]:
dataframe = krx.read_date('2021-09-10', kind='etn')
dataframe.head()

   symbol                       name  close change change_ratio index_value  \

0  580011         KB FnGuide ì–¸íƒíŠ¸ ETN  14605    220         1.53    14594.21
1  580013         KB KRX ESG Eco ETN  12995    -75        -0.57    13000.11
2  580012              KB KRX300 ETN  12625     35         0.28    12630.92
3  580010           KB Wise ë¶„í• ë§¤ë§¤ ETN  11505     50         0.44    11504.05
4  580025  KB ë ˆë²„ë¦¬ì§€ KRX 2ì°¨ì „ì§€ K-ë‰´ë”œ ETN   9490    215         2.32     9466.67

    open   high    low  volume trading_value   market_cap total_index_value  \

0  14375  14605  14360    9004     131330675  14605000000                 0
1  12975  12995  12960      44        571725  12995000000                 0
2  12605  12625  12550    9534     120308935  12625000000                 0
3  11500  11510  11495  102093    1174133450  69030000000                 0
4   9315   9500   9190    3998      37718165   9490000000                 0

  shares_outstanding      Fundamental_index
                                 index_name     close  change change_ratio
0            1000000         FnGuide ì–¸íƒíŠ¸ ì§€ìˆ˜   2919.65   47.35         1.65
1            1000000    KRX Eco Leaders 100   2262.01   14.83         0.66
2            1000000                KRX 300   1869.51    7.88         0.42
3            6000000  Wise ë¶„í• ë§¤ë§¤ 5%/1% 6M ì§€ìˆ˜   1582.39    8.25         0.52
4            1000000  KRX 2ì°¨ì „ì§€ K-ë‰´ë”œ ë ˆë²„ë¦¬ì§€ ì§€ìˆ˜  18505.76  445.01         2.46

#### ELW ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [35]:
dataframe = krx.read_date('2021-09-10', kind='elw')
dataframe.head()

   symbol          name close change open high low volume trading_value  \

0  58G192   KBG192LGí™”í•™ì½œ    10      0    0    0   0      0             0
1  58G193  KBG193SKí•˜ì´ë‹‰ì½œ    25      0    0    0   0      0             0
2  58G194   KBG194ì‚¼ì„±ì „ìì½œ    20      0    0    0   0      0             0
3  58G195    KBG195í˜„ëŒ€ì°¨ì½œ    25      0    0    0   0      0             0
4  58G196   KBG196ì‚¼ì„±ì „ìì½œ    20      0    0    0   0      0             0

  market_cap shares_outstanding    ê¸°ì´ˆìì‚°
                                    ìì‚°ëª…     close  change change_ratio
0   70000000            7000000    LGí™”í•™  744000.0 -4000.0        -0.53
1  400000000           16000000  SKí•˜ì´ë‹‰ìŠ¤  104500.0  1500.0         1.46
2  260000000           13000000    ì‚¼ì„±ì „ì   75500.0   200.0         0.27
3  348750000           13950000     í˜„ëŒ€ì°¨  206000.0 -2500.0        -1.20
4  184000000            9200000    ì‚¼ì„±ì „ì   75500.0   200.0         0.27

### read_all()
ì›í•˜ëŠ” ì¢…ëª©ì˜ ì „ê¸°ê°„ ì¦ê¶Œ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ”ë° ì‚¬ìš©í•œë‹¤.

read_all(self, symbol, *, start=None, end=None, kind="stock", api=False, **kwargs)

í•´ë‹¹ ì£¼ì‹ ê°€ê²© ë°ì´í„°ë¥¼ ì‹œì‘ì¼(start) ë¶€í„° ì¢…ë£Œì¼(end) ê¹Œì§€ ì½ì–´ì˜¨ë‹¤.

-    symbol : str

            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ëª©ì½”ë“œ.
            í˜•íƒœëŠ” ì¢…ëª©ê³¼ ì¢…ë¥˜ë§ˆë‹¤ ë‹¤ë¥´ë‹¤.
            ì˜ˆ) ì‚¼ì„±ì „ì : '005930', ARIRANG 200 : '152100'

-    kind : str, default "stock"


            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ë¥˜.

             'stock' : ì£¼ì‹
             'per' : PER/EPS/ë°°ë‹¹ê¸ˆ ë“±
             'index': ì§€ìˆ˜
             'other_index' : ê¸°íƒ€ ì§€ìˆ˜         
             'etf': ETF
             'etn': ETN
             'elw': ELW
             
            
-    kwargs

     - division : str
             
                ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì„¸ë¶€ êµ¬ë¶„
                other_index : ['ì„ ë¬¼ì§€ìˆ˜', 'ì˜µì…˜ì§€ìˆ˜', 'ì „ëµì§€ìˆ˜', 'ìƒí’ˆì§€ìˆ˜']
     - reverse : bool, default false
             
                dataframeì„ ê±°ê¾¸ë¡œ ì •ë ¬í•˜ê¸°
     - kor : bool, default false
             
                columnsë¥¼ í•œê¸€ë¡œ ë°›ì•„ì˜¤ê¸°
     - adjust : bool, default false
             
                ìˆ˜ì •ì£¼ê°€ ì ìš©í•˜ê¸°

#### ì£¼ì‹ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ì¹´ì¹´ì˜¤ë±…í¬ì˜ ì¢…ëª©ì½”ë“œ (symbol)ì€ `323410` ì´ë‹¤

In [37]:
dataframe = krx.read_all('323410')
dataframe

ì¹´ì¹´ì˜¤ë±…í¬

,close,change,change_ratio,open,high,low,volume,trading_value,market_cap,shares_outstanding
2021-09-10,69100,-2900,-4.03,71000,72400,68100,4844664,336589067300,32829426376700,475100237
2021-09-09,72000,-300,-0.41,71300,73000,70300,5748242,414085949200,34207217064000,475100237
2021-09-08,72300,-700,-0.96,73400,75800,71400,5849714,429693662900,34349747135100,475100237
2021-09-07,73000,-4400,-5.68,77300,77300,72600,6001690,446406709500,34682317301000,475100237
2021-09-06,77400,-3400,-4.21,77000,78400,76000,5252682,405428379300,36772758343800,475100237
2021-09-03,80800,-1100,-1.34,82900,83000,80200,3987547,324387884400,38388099149600,475100237
2021-09-02,81900,-6900,-7.77,81800,83600,81000,22859096,1850634875700,38910709410300,475100237
2021-09-01,88800,4900,5.84,83800,88900,82900,6376407,554585161300,42188901045600,475100237
2021-08-31,83900,2000,2.44,81000,83900,80900,1768789,145547183800,39860909884300,475100237
2021-08-30,81900,-1900,-2.27,84000,84300,81600,1782049,146562122300,38910709410300,475100237
2021-08-27,83800,400,0.48,82500,84400,82500,2174014,181581194600,39813399860600,475100237
2021-08-26,83400,1300,1.58,83400,85300,82100,4255489,356482377400,39623359765800,475100237
2021-08-25,82100,-3300,-3.86,84500,84600,81500,6086152,501765965800,39005729457700,475100237
2021-08-24,85400,-4400,-4.90,90000,90000,84700,6553145,565588294800,40573560239800,475100237
2021-08-23,89800,-1200,-1.32,91900,92800,87900,4868621,438641116800,42664001282600,475100237
2021-08-20,91000,-1000,-1.09,92800,94000,88600,15815275,1446903524600,43234121567000,475100237
2021-08-19,92000,7500,8.88,87300,92300,86400,13606690,1214265765200,43709221804000,475100237
2021-08-18,84500,-2900,-3.32,89600,94400,83800,21008684,1902924333900,40145970026500,475100237
2021-08-17,87400,10800,14.10,78100,88300,77500,24272931,2023549857900,41523760713800,475100237
2021-08-13,76600,2800,3.79,73500,78600,73500,10907993,833265977000,36392678154200,475100237
2021-08-12,73800,-600,-0.81,73600,75400,72700,5878196,435828753800,35062397490600,475100237
2021-08-11,74400,3000,4.20,71200,77500,68100,21592734,1612276943500,35347457632800,475100237
2021-08-10,71400,-7100,-9.04,81800,85600,68000,26495122,1951618052400,33922156921800,475100237
2021-08-09,78500,8700,12.46,69800,89100,69000,44833696,3693290372000,37295368604500,475100237
2021-08-06,69800,16100,29.98,53700,69800,51000,59402373,3750576118800,33161996542600,475100237

#### ì§€ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ì§€ìˆ˜ ë°ì´í„°ì—ëŠ” ì¢…ëª©ì½”ë“œ(symbol)ì´ ì—†ë‹¤

In [38]:
dataframe = krx.read_all('ì†Œí”„íŠ¸ì›¨ì–´', kind='index')
dataframe

ì†Œí”„íŠ¸ì›¨ì–´

,close,change,change_ratio,open,high,low,volume,trading_value,market_cap
2021-09-10,342.41,-1.03,-0.30,342.75,344.34,337.45,20267720,186102002033,19757157185078
2021-09-09,343.44,-2.42,-0.70,343.64,347.21,342.12,49585206,325198928536,19816051222249
2021-09-08,345.86,-7.24,-2.05,352.79,352.79,345.86,71058886,476168447993,19955538637812
2021-09-07,353.10,-1.11,-0.31,354.85,355.08,351.99,63273675,437340466637,20383937006076
2021-09-06,354.21,-1.35,-0.38,357.13,357.47,353.49,45697700,406515113125,20447917657962
...,...,...,...,...,...,...,...,...,...
1999-01-08,183.50,-0.30,-0.16,183.50,183.50,183.50,68560,29174460,35898636000
1999-01-07,183.80,-4.60,-2.44,183.80,183.80,183.80,74790,41499350,35961680000
1999-01-06,188.40,7.30,4.03,188.40,188.40,188.40,74620,33992420,36858232800
1999-01-05,181.10,-3.40,-1.84,181.10,181.10,181.10,61760,26468900,35428120800
1999-01-04,184.50,0.00,0.00,184.50,184.50,184.50,88560,38537900,36086975200

#### íŒŒìƒ ë° ê¸°íƒ€ ì§€ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ì§€ìˆ˜ ë°ì´í„°ì—ëŠ” ì¢…ëª©ì½”ë“œ(symbol)ì´ ì—†ë‹¤

In [41]:
dataframe = krx.read_all('ë¯¸êµ­ë‹¬ëŸ¬ì„ ë¬¼ì§€ìˆ˜', kind='other_index', division='ì„ ë¬¼ì§€ìˆ˜')
dataframe

ë¯¸êµ­ë‹¬ëŸ¬ì„ ë¬¼ì§€ìˆ˜

              close  change  change_ratio     open     high      low
2021-09-10  1224.05    1.15         -0.09  1227.08  1230.33  1223.31
2021-09-09  1225.20    2.73          0.22  1224.36  1227.82  1224.15
2021-09-08  1222.47    8.48          0.70  1219.02  1223.21  1218.07
2021-09-07  1213.99    2.31          0.19  1212.94  1215.24  1212.00
2021-09-06  1211.68    1.99         -0.16  1211.16  1215.45  1211.05
...             ...     ...           ...      ...      ...      ...
2007-01-08  1013.83    4.32          0.43     0.00     0.00     0.00
2007-01-05  1009.51    3.02          0.30     0.00     0.00     0.00
2007-01-04  1006.49    5.73          0.57     0.00     0.00     0.00
2007-01-03  1000.76    0.76          0.08     0.00     0.00     0.00
2007-01-02  1000.00    0.00          0.00     0.00     0.00     0.00

[3635 rows x 6 columns]

####  EPS/ PER/ BPS/ PBR/ ì£¼ë‹¹ë°°ë‹¹ê¸ˆ/ ë°°ë‹¹ìˆ˜ìµë¥  ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° 
ì¹´ì¹´ì˜¤ë±…í¬ì˜ ì¢…ëª©ì½”ë“œ (symbol)ì€ `323410` ì´ë‹¤

In [39]:
dataframe = krx.read_all('323410', kind='per')
dataframe

ì¹´ì¹´ì˜¤ë±…í¬

,close,change,change_ratio,EPS,PER,BPS,PBR,dividend,dividend rate
2021-09-10,69000,-3000,-4.17,309,223.30,6861,10.06,0,0.0
2021-09-09,72000,-300,-0.41,309,233.01,6861,10.49,0,0.0
2021-09-08,72300,-700,-0.96,309,233.98,6861,10.54,0,0.0
2021-09-07,73000,-4400,-5.68,309,236.25,6861,10.64,0,0.0
2021-09-06,77400,-3400,-4.21,309,250.49,6861,11.28,0,0.0
2021-09-03,80800,-1100,-1.34,309,261.49,6861,11.78,0,0.0
2021-09-02,81900,-6900,-7.77,309,265.05,6861,11.94,0,0.0
2021-09-01,88800,4900,5.84,309,287.38,6861,12.94,0,0.0
2021-08-31,83900,2000,2.44,309,271.52,6861,12.23,0,0.0
2021-08-30,81900,-1900,-2.27,309,265.05,6861,11.94,0,0.0
2021-08-27,83800,400,0.48,309,271.20,6861,12.21,0,0.0
2021-08-26,83400,1300,1.58,309,269.90,6861,12.16,0,0.0
2021-08-25,82100,-3300,-3.86,309,265.70,6861,11.97,0,0.0
2021-08-24,85400,-4400,-4.90,309,276.38,6861,12.45,0,0.0
2021-08-23,89800,-1200,-1.32,309,290.61,6861,13.09,0,0.0
2021-08-20,91000,-1000,-1.09,309,294.50,6861,13.26,0,0.0
2021-08-19,92000,7500,8.88,309,297.73,6861,13.41,0,0.0
2021-08-18,84500,-2900,-3.32,309,273.46,6861,12.32,0,0.0
2021-08-17,87400,10800,14.10,309,282.85,6861,12.74,0,0.0
2021-08-13,76600,2800,3.79,309,247.90,6861,11.16,0,0.0
2021-08-12,73800,-600,-0.81,309,238.83,6861,10.76,0,0.0
2021-08-11,74400,3000,4.20,309,240.78,6861,10.84,0,0.0
2021-08-10,71400,-7100,-9.04,309,231.07,6861,10.41,0,0.0
2021-08-09,78500,8700,12.46,309,254.05,6861,11.44,0,0.0
2021-08-06,69800,16100,29.98,309,225.89,6861,10.17,0,0.0

#### ETF ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ARIRANG êµ­ì±„ì„ ë¬¼10ë…„ì˜ ì¢…ëª©ì½”ë“œ(symbol)ì€ `289670`ì´ë‹¤

In [42]:
dataframe = krx.read_all('289670', kind='etf')
dataframe

ARIRANG êµ­ì±„ì„ ë¬¼10ë…„

            close change change_ratio       NAV   open   high    low volume  \

2021-09-10  56625    165        -0.29  56613.06  56660  56660  56625      2
2021-09-09  56790     35         0.06  56754.96  56785  56790  56785     75
2021-09-08  56755    205        -0.36  56729.33  56755  56755  56755      1
2021-09-07  56960     70         0.12  56876.32  56910  56960  56910     23
2021-09-06  56890    135        -0.24  56920.07  56945  56945  56890     15
...           ...    ...          ...       ...    ...    ...    ...    ...
2018-02-13  50135     70         0.14  50194.84  50135  50135  50135     10
2018-02-12  50065    200        -0.40  50043.19  50190  50190  50065     24
2018-02-09  50265     25        -0.05  50219.02  50330  50345  50235   8015
2018-02-08  50290     70        -0.14  50290.75  50340  50375  50255   2201
2018-02-07  50360    155         0.31  50425.78  50140  50360  50140    211

           trading_value  market_cap  Net Assets shares_outstanding  \

2021-09-10        113285  7927500000           0             140000
2021-09-09       4258880  7950600000  7945693806             140000
2021-09-08         56755  7945700000  7942106894             140000
2021-09-07       1309080  7974400000  7962684226             140000
2021-09-06        853955  7964600000  7968809518             140000
...                  ...         ...         ...                ...
2018-02-13        501350  6417280000  6424939029             128000
2018-02-12       1203545  6408320000  6405527783             128000
2018-02-09     402728840  7439220000  6428034759             148000
2018-02-08     110708485  7442920000  7443030287             148000
2018-02-07      10595740  7453280000  7463015273             148000

           Fundamental_index
                  index_name    close change change_ratio
2021-09-10         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1345.12   3.50        -0.26
2021-09-09         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1348.62   0.63         0.05
2021-09-08         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1347.99   3.50        -0.26
2021-09-07         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1351.49   1.06        -0.08
2021-09-06         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1352.55   2.44        -0.18
...                      ...      ...    ...          ...
2018-02-13         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1236.27   3.63         0.29
2018-02-12         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1232.64   4.36        -0.35
2018-02-09         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1237.00   1.86        -0.15
2018-02-08         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1238.86   3.43        -0.28
2018-02-07         10ë…„êµ­ì±„ì„ ë¬¼ì§€ìˆ˜  1242.29   0.00         0.00

[886 rows x 16 columns]

#### ETN ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ë©”ë¦¬ì¸  ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ ETNì˜ ì¢…ëª©ì½”ë“œ(symbol)ì€ `610002`ì´ë‹¤

In [43]:
dataframe = krx.read_all('610002', kind='etn')
dataframe

ë©”ë¦¬ì¸  ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ ETN

            close change change_ratio index_value   open   high    low volume  \

2021-09-10  10155    -25        -0.25    10163.86  10165  10165  10155     60
2021-09-09  10180     40         0.39    10152.30  10180  10180  10180      5
2021-09-08  10140    -25        -0.25    10143.43  10140  10140  10140     10
2021-09-07  10165     20         0.20    10150.78  10165  10165  10150      9
2021-09-06  10145     30         0.30    10155.62  10115  10155  10115    335
...           ...    ...          ...         ...    ...    ...    ...    ...
2021-06-23   9830      0         0.00     9936.22      0      0      0      0
2021-06-22   9830     10         0.10     9848.49   9830   9830   9830      2
2021-06-21   9820    -10        -0.10     9809.86      0      0      0      0
2021-06-18   9830      0         0.00     9817.46      0      0      0      0
2021-06-17   9830    -50        -0.51     9849.22   9885   9885   9830      3

           trading_value   market_cap total_index_value shares_outstanding  \

2021-09-10        609800  20310000000                 0            2000000
2021-09-09         50900  20360000000       20304600000            2000000
2021-09-08        101400  20280000000       20286860000            2000000
2021-09-07         91455  20330000000       20301560000            2000000
2021-09-06       3389055  20290000000       20311240000            2000000
...                  ...          ...               ...                ...
2021-06-23             0  19660000000       19872440000            2000000
2021-06-22         19660  19660000000       19696980000            2000000
2021-06-21             0  19640000000       19619720000            2000000
2021-06-18             0  19660000000       19634920000            2000000
2021-06-17         29595  19660000000       19698440000            2000000

                       Fundamental_index
                              index_name   close change change_ratio
2021-09-10  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  137.02   0.16         0.12
2021-09-09  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  136.86   0.12         0.09
2021-09-08  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  136.74   0.10        -0.07
2021-09-07  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  136.84   0.06        -0.04
2021-09-06  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  136.90   0.34         0.25
...                                  ...     ...    ...          ...
2021-06-23  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  133.78   1.19         0.90
2021-06-22  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.59   0.52         0.39
2021-06-21  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.07   0.10        -0.08
2021-06-18  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.17   0.42        -0.32
2021-06-17  KAP ë ˆë²„ë¦¬ì§€ ì¸í”Œë ˆì´ì…˜ êµ­ì±„ TR ì§€ìˆ˜(ì´ìˆ˜ìµ)  132.59   0.00         0.00

[61 rows x 16 columns]

#### ELW ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
KBG194ì‚¼ì„±ì „ìì½œì˜ ì¢…ëª©ì½”ë“œ(symbol)ëŠ” `58G194`ì´ë‹¤

In [45]:
dataframe = krx.read_all('58G194', kind='elw')
dataframe

KBG194ì‚¼ì„±ì „ìì½œ

           close change open high  low volume trading_value  market_cap  \

2021-09-10    20      0    0    0    0      0             0   260000000
2021-09-09    20      0    0    0    0      0             0   260000000
2021-09-08    20      0    0    0    0      0             0   260000000
2021-09-07    20      0    0    0    0      0             0   260000000
2021-09-06    20      0    0    0    0      0             0   260000000
...          ...    ...  ...  ...  ...    ...           ...         ...
2021-02-03   155      0  155  155  155    100         15500  2015000000
2021-02-02   155      0    0    0    0      0             0  2015000000
2021-02-01   155      0    0    0    0      0             0  2015000000
2021-01-29   155      0    0    0    0      0             0  2015000000
2021-01-28   155    155  155  155  155     10          1550  2015000000

           shares_outstanding  ê¸°ì´ˆìì‚°
                                ìì‚°ëª…  close change change_ratio
2021-09-10           13000000  ì‚¼ì„±ì „ì  75500    200         0.27
2021-09-09           13000000  ì‚¼ì„±ì „ì  75300  -1000        -1.31
2021-09-08           13000000  ì‚¼ì„±ì „ì  76300    200         0.26
2021-09-07           13000000  ì‚¼ì„±ì „ì  76100  -1200        -1.55
2021-09-06           13000000  ì‚¼ì„±ì „ì  77300    700         0.91
...                       ...   ...    ...    ...          ...
2021-02-03           13000000  ì‚¼ì„±ì „ì  84600    200         0.24
2021-02-02           13000000  ì‚¼ì„±ì „ì  84400   1400         1.69
2021-02-01           13000000  ì‚¼ì„±ì „ì  83000   1000         1.22
2021-01-29           13000000  ì‚¼ì„±ì „ì  82000  -1700        -2.03
2021-01-28           13000000  ì‚¼ì„±ì „ì  83700  -1900        -2.22

[156 rows x 13 columns]

### search()
ì›í•˜ëŠ” ì¢…ëª©ì˜ ì¢…ëª©ëª…, ì¢…ëª©ì½”ë“œë¥¼ ê²€ìƒ‰í• ë•Œ ì‚¬ìš©í•œë‹¤.

> ğŸ² **info** <br> ì¢…ëª©ëª…ì„ ëª¨ë‘ ì…ë ¥í•˜ì§€ ì•Šìœ¼ë©´ ì…ë ¥ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í•œ ê°’ì—ì„œ ê°€ì¥ ì²«ë²ˆì§¸ì˜ ê°’ì´ ë°˜í™˜ëœë‹¤. <br>
>


search(name, kind='stock', \**kwargs)

- name : str

        ì°¾ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ëª© ì½”ë“œ
        
- kind : str
    
        ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ë¥˜.

           'stock' : ì£¼ì‹
           'index': ì§€ìˆ˜
           'other_index' : ê¸°íƒ€ ì§€ìˆ˜         
           'etf': ETF
           'etn': ETN
           'elw': ELW


- devision : str

        ê¸°íƒ€ ì§€ìˆ˜(other_index) ì˜ ì¢…ë¥˜
        kindê°€ `other_index` ì¼ë•Œë§Œ ë„£ì–´ì¤€ë‹¤
        ['ì„ ë¬¼ì§€ìˆ˜', 'ì „ëµì§€ìˆ˜', 'ì˜µì…˜ì§€ì£¼', 'ìƒí’ˆì§€ìˆ˜']

#### ì£¼ì‹ ì¢…ëª© ê²€ìƒ‰

In [65]:
krx.search('ì‚¼ì„±')

('ì‚¼ì„±SDI', 'KR7006400006', '006400')

#### ì§€ìˆ˜ ì¢…ëª© ê²€ìƒ‰

In [55]:
krx.search('ì—ë„ˆì§€', kind='index')

('KRX ì—ë„ˆì§€í™”í•™', '5', '048')

#### íŒŒìƒ ë° ê¸°íƒ€ ì¢…ëª© ê²€ìƒ‰

In [52]:
krx.search('ë¯¸êµ­', kind='other_index', division='ì„ ë¬¼ì§€ìˆ˜')

('ë¯¸êµ­ë‹¬ëŸ¬ì„ ë¬¼ì§€ìˆ˜', 'S', '001')

#### ETF ì¢…ëª© ê²€ìƒ‰

In [59]:
krx.search('ì—ë„ˆì§€í™”í•™', kind='etf')

('KBSTAR 200ì—ë„ˆì§€í™”í•™', 'KR7284990009', '284990')

#### ETN ì¢…ëª© ê²€ìƒ‰

In [63]:
krx.search('ë‹ˆì¼ˆ', kind='etn')

('ëŒ€ì‹  2X ë‹ˆì¼ˆì„ ë¬¼ ETN(H)', 'KRG514400073', '510007')

### listed_company()
í˜„ì¬ ìƒì¥ëœ íšŒì‚¬ë“¤ ëª©ë¡ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ”ë° ì‚¬ìš©í•œë‹¤.

In [66]:
krx.listed_company()

,ì¢…ëª©ì½”ë“œ,ì¢…ëª©ëª…,ì‹œì¥êµ¬ë¶„,ì†Œì†ë¶€,ì—…ì¢…ì½”ë“œ,ì—…ì¢…ëª…,ê²°ì‚°ì›”,ì§€ì •ìë¬¸ì¸,ìƒì¥ì£¼ì‹ìˆ˜,ì•¡ë©´ê°€,ìë³¸ê¸ˆ,í†µí™”êµ¬ë¶„,ëŒ€í‘œì´ì‚¬,ëŒ€í‘œì „í™”,ì£¼ì†Œ
0,060310,3S,KOSDAQ,ì¤‘ê²¬ê¸°ì—…ë¶€,032602,ì „ìë¶€í’ˆ ì œì¡°ì—…,03,,46271513,500.0,23135756500,ì›(KRW),ë°•ì¢…ìµ ê¹€ì„¸ì™„ (ê°ì ëŒ€í‘œì´ì‚¬),02-896-9474,ì„œìš¸íŠ¹ë³„ì‹œ ê¸ˆì²œêµ¬ ì‹œí¥ëŒ€ë¡œ71ê¸¸ 30-1
1,095570,AJë„¤íŠ¸ì›ìŠ¤,KOSPI,,147603,ì‚°ì—…ìš© ê¸°ê³„ ë° ì¥ë¹„ ì„ëŒ€ì—…,12,,46822295,1000.0,46822295000,ì›(KRW),ë°•ëŒ€í˜„,02-6363-9999,ì„œìš¸íŠ¹ë³„ì‹œ ì†¡íŒŒêµ¬ ì •ì˜ë¡œ8ê¸¸ 9 (ë¬¸ì •ë™AJë¹Œë”©)
2,006840,AKí™€ë”©ìŠ¤,KOSPI,,116409,ê¸°íƒ€ ê¸ˆìœµì—…,12,,13247561,5000.0,66237805000,ì›(KRW),ì±„í˜•ì„ ì´ì„ì£¼(ê°ì ëŒ€í‘œì´ì‚¬),02-768-2923,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ì–‘í™”ë¡œ 188 -
3,054620,APSí™€ë”©ìŠ¤,KOSDAQ,ì¤‘ê²¬ê¸°ì—…ë¶€,116409,ê¸°íƒ€ ê¸ˆìœµì—…,12,,20394221,500.0,10197110500,ì›(KRW),ì •ê¸°ë¡œ,031-776-1800,ê²½ê¸°ë„ í™”ì„±ì‹œ ë™íƒ„ë©´ ë™íƒ„ì‚°ë‹¨9ê¸¸ 23-12 (ë™íƒ„ë©´)
4,265520,APì‹œìŠ¤í…œ,KOSDAQ,ìš°ëŸ‰ê¸°ì—…ë¶€,032902,íŠ¹ìˆ˜ ëª©ì ìš© ê¸°ê³„ ì œì¡°ì—…,12,,14480227,500.0,7240113500,ì›(KRW),ê¹€ì˜ì£¼,031-379-2700,ê²½ê¸°ë„ í™”ì„±ì‹œ ë™íƒ„ë©´ ë™íƒ„ì‚°ë‹¨8ê¸¸ 15-5 &nbsp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2453,189980,í¥êµ­ì—í”„ì—”ë¹„,KOSDAQ,ì¤‘ê²¬ê¸°ì—…ë¶€,031102,ë¹„ì•Œì½”ì˜¬ìŒë£Œ ë° ì–¼ìŒ ì œì¡°ì—…,12,,38387127,100.0,3838712700,ì›(KRW),ë°•ì² ë²” ì˜¤ê¸¸ì˜,043-882-5666,ì„œìš¸íŠ¹ë³„ì‹œ ì„œì´ˆêµ¬ ë§ˆë°©ë¡œ 60 24ì¸µ (ì–‘ì¬ë™ íŠ¸ëŸ¬ìŠ¤íŠ¸íƒ€ì›Œ)
2454,000540,í¥êµ­í™”ì¬,KOSPI,,116501,ë³´í—˜ì—…,12,,64242645,5000.0,325821225000,ì›(KRW),ê¶Œì¤‘ì›,02-2002-6000,ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ìƒˆë¬¸ì•ˆë¡œ 68
2455,003280,í¥ì•„í•´ìš´,KOSPI,,085001,í•´ìƒ ìš´ì†¡ì—…,12,,239125028,500.0,119562514000,ì›(KRW),ì´í™˜êµ¬,02-3449-3000,ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘êµ¬ ë‚¨ëŒ€ë¬¸ë¡œ9ê¸¸ 39 ì„œìš¸ì‹œ ì¤‘êµ¬ ë‚¨ëŒ€ë¬¸ë¡œ9ê¸¸ 39(ì„ì§€ë¡œ1ê°€ ë¶€ë¦¼ë¹Œë”©...
2456,037440,í¬ë¦¼,KOSDAQ,ì¤‘ê²¬ê¸°ì—…ë¶€,137201,ê±´ì¶•ê¸°ìˆ ì—”ì§€ë‹ˆì–´ë§ ë° ê´€ë ¨ ê¸°ìˆ ì„œë¹„ìŠ¤ì—…,12,,13922475,500.0,6961237500,ì›(KRW),ì •ì˜ê· ì´ëª©ìš´ í—ˆì² í˜¸ (ê°ìëŒ€í‘œ),02-3410-9219,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë™êµ¬ ìƒì¼ë¡œ6ê¸¸ 39-
2457,238490,í˜ìŠ¤,KOSDAQ,ìš°ëŸ‰ê¸°ì—…ë¶€,032902,íŠ¹ìˆ˜ ëª©ì ìš© ê¸°ê³„ ì œì¡°ì—…,12,,11312236,500.0,5656118000,ì›(KRW),ê¹€ì£¼í™˜,032-821-2511,ì¸ì²œê´‘ì—­ì‹œ ë‚¨ë™êµ¬ ë‚¨ë™ì„œë¡œ 126 &nbsp

## BinanceReader
BinanceReaderëŠ” [Binance.com](https://www.binance.com)ì— ë°ì´í„°ë¥¼ ìš”ì²­í•´ì„œ ë°›ì•„ì˜¤ëŠ” ê¸°ëŠ¥ì„ ìˆ˜í–‰í•œë‹¤. <br>

ìœ„ ê¸°ëŠ¥ì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ë¨¼ì € ì¸ìŠ¤í„´ìŠ¤ë¥¼ ë§Œë“ ë‹¤. <br>

In [67]:
from coredotfinance.data import BinanceReader
binance = BinanceReader()

### read()

ì›í•˜ëŠ” ì¢…ë¥˜ì˜ ê°€ìƒí™”í ê°€ê²© ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ”ë° ì‚¬ìš©í•œë‹¤. 

read(self, symbol, start, end, interval, **kwargs):


- symbol : str, optional
            
        Binance Symbol

- interval : str, optional
  
      ì¡°íšŒ ê°„ê²© ì„¤ì •
        (1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 8h, 12h, 1d, 3d, 1w, 1M)
-    start : str

            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì‹œì‘ì¼.
            í˜•íƒœëŠ” YYYY-MM-DDê°€ ë˜ì–´ì•¼ í•œë‹¤. 
            ì˜ˆ) 2021-06-01
-    end : str

            ì¡°íšŒí•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ì¢…ë£Œì¼.
            í˜•íƒœëŠ” YYYY-MM-DDê°€ ë˜ì–´ì•¼ í•œë‹¤.
            ì˜ˆ) 2021-06-01

#### 1ì¼ ê°„ê²©ì˜ ì´ë”ë¦¬ì›€ ê°€ê²© ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ê¸°

In [70]:
dataframe = binance.read(symbol='ethbtc', start='2021-09-01', end='2021-09-06', interval='1d')
dataframe

                open      high       low     close       volume
ì¼ì‹œ
2021-09-06  0.076315  0.076808  0.074432  0.074550  113725.7970
2021-09-05  0.077837  0.078767  0.075982  0.076316  126794.9485
2021-09-04  0.078778  0.079300  0.077047  0.077832  126072.9194
2021-09-03  0.076872  0.079550  0.076398  0.078770  174164.4637
2021-09-02  0.078401  0.078409  0.074522  0.076868  181509.7419
2021-09-01  0.072807  0.078600  0.072462  0.078401  204323.8982

#### 6ì‹œê°„ ê°„ê²©ì˜ ì´ë”ë¦¬ì›€ ê°€ê²© ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ê¸°

In [72]:
dataframe = binance.read(symbol='ethbtc', start='2021-09-01', end='2021-09-02', interval='6h')
dataframe

ETHBTC

                         open      high       low     close      volume
ì¼ì‹œ
2021-09-02 00:00:00  0.078401  0.078409  0.075321  0.076005  52219.7441
2021-09-01 18:00:00  0.075790  0.078600  0.075790  0.078401  41868.8821
2021-09-01 12:00:00  0.074000  0.078000  0.073894  0.075790  80521.4810
2021-09-01 06:00:00  0.074342  0.074800  0.073860  0.074000  39987.5884
2021-09-01 00:00:00  0.072807  0.074444  0.072462  0.074336  41945.9467

#### symbol_list()
ê°€ìƒí™”íì˜ symbol listë¥¼ ë°˜í™˜í•œë‹¤

In [74]:
symbols = binance.symbol_list()
symbols[:10]

['ETHBTC',
 'LTCBTC',
 'BNBBTC',
 'NEOBTC',
 'QTUMETH',
 'EOSETH',
 'SNTETH',
 'BNTETH',
 'BCCBTC',
 'GASBTC']

#### interval_list()
ì„¤ì • ê°€ëŠ¥í•œ ì‹œê°„ ê°„ê²© listë¥¼ ë°˜í™˜í•œë‹¤

In [75]:
intervals = binance.interval_list()
intervals

['1m',
 '3m',
 '5m',
 '15m',
 '30m',
 '1h',
 '2h',
 '4h',
 '6h',
 '8h',
 '12h',
 '1d',
 '3d',
 '1w',
 '1M']